**/.DS_Store
.idea
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/sitemap.xml
/public/main_sitemap.xml
/public/blog_sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
