.tger-footer__bg {
    border-top: 100px solid transparent;
    border-left: 0 solid transparent;
    border-right: 1300px solid $purple;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 2;
}
.tger-footer {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;

    &__wrapper {
        padding: 60px 0 10px;
        background-color: $purple;
    }

    &__mobile-main {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        z-index: 2;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__mobile-main-column {
        flex: 0 0 100%;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__desktop-main {
        width: 90%;
        margin: 0 auto 100px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 2;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @media (max-width: 767) {
            display: none;
        }
    }

    &__desktop-main-column {
        flex: 1;
        @media (max-width: 991px) {
            flex: 0 0 50%;
            margin-bottom: 25px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__inner {
        h4 {
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            border-top: 1px solid $white;
            padding: 15px 0;
            margin: 0;
            color: $white;
            @media (min-width: 768px) {
                border-color: transparent;
                padding: 0;
                font-size: 13px;
                margin-bottom: 25px;
            }

            &:last-child {
                border-bottom: 1px solid $white;
            }

            span.footer-column-heading {
                color: $white;
                font-size: 16px;
                font-family: $font1;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2px;
            }
        }

        ul {
            list-style: none inside;
            padding-left: 15px;
            margin: 0 0 20px;
            @media (min-width: 768px) {
                padding-left: 0;
            }

            li {
                a {
                    color: $white;
                    font-size: 16px;
                    font-weight: 300;
                    transition: all 0.5s;

                    &:hover {
                        color: $muted-purple;
                        text-decoration: none;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }

    &__copyright {
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 767px) {
            flex-direction: column;
            justify-content: unset;
        }
    }

    &__copyright-left {
        list-style: none inside;
        display: flex;
        padding-left: 0;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }

        li {
            color: $white;
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 20px;
            @media (max-width: 575px) {
                margin: 10px 10px 10px 0;
            }

            a {
                color: $white;
                font-size: 12px;
                text-transform: uppercase;
                transition: all 0.5s;

                &:hover {
                    color: $muted-purple;
                    text-decoration: none;
                    transition: all 0.5s;
                }
            }
        }
    }

    &__copyright-right {
        list-style: none inside;
        display: flex;
        padding-left: 0;
        @media (max-width: 767px) {
            justify-content: center;
            margin-top: 15px;
        }

        li {
            color: $white;
            margin-right: 20px;
            @media (max-width: 575px) {
                margin: 10px 10px 10px 0;
            }

            a {
                color: $white;
                font-size: 18px;
                transition: all 0.5s;

                &:hover {
                    color: $muted-purple;
                    text-decoration: none;
                    transition: all 0.5s;
                }
            }
        }
    }
}
