.tger-gift-cards {
    margin: -100px 0;
    padding: 160px 0 160px;
    position: relative;
    @media (max-width: 991px) {
        padding: 160px 0 100px;
    }

    h3 {
        margin-bottom: 0;
        @media (max-width: 575px) {
            font-size: 20px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;

        .card {
            margin: 10px;
            padding: 20px;
            width: 250px;
            position: relative;
            z-index: 1;

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 100%;

                .card-title {
                    text-align: center;
                    font-size: 16px;
                }

                .card-text {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__checkout {
        .form-control {
            position: relative;
            z-index: 1;
        }

        a,
        button {
            position: relative;
            z-index: 1;
        }
    }
}
