.tger-home-hero {
    background-color: $purple;
    position: relative;
    box-sizing: border-box;
    z-index: 5;

    &__bg {
        position: absolute;
        top: 0;
        bottom: -50px;
        left: 0;
        right: 0;
        z-index: 0;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        @media(min-width: 768px) and (max-width: 991px) {
            bottom: -40px;
        }
        @media(min-width: 576px) and (max-width: 767px) {
            bottom: -40px;
        }
        @media (max-width: 575px) {
            bottom: -100px;
        }
    }

    &__inner {
        padding: 0;
        position: relative;
        top: 60px;
        @media (max-width: 575px) {
            top: 100px;
            margin-top: -90px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 20px;
        @media (max-width: 575px) {
            height: unset;
            margin-bottom: 10px;
        }

        h1 {
            color: $white;
            width: 100%;
            text-align: left;
            @media (max-width: 991px) {
                text-align: center;
            }
        }

        p {
            color: $white;
            width: 100%;
            text-align: left;
            @media (max-width: 991px) {
                text-align: center;
            }
        }

        .tger-button-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            @media (max-width: 575px) {
                flex-direction: column;
            }

            a,
            button {
                width: 49%;
                text-align: center;
                @media (max-width: 575px) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        .hero-image {
            border-radius: 10px;
            box-shadow: 0 0 11px 4px rgba($black, 0.3);
            display: inline-block;
            width: 100%;
            height: auto;
        }
    }
}

.tger-hero-wedge {
    border-top: 100px solid $purple;
    border-left: 0 solid transparent;
    border-right: 1300px solid transparent;
    position: relative;
    width: 100%;
    z-index: 2;
}
