amp-lightbox#menu {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: $body-bg;
    
    .lightbox {
        background-color: $white;
        position: relative;
        z-index: 200;
        margin: 0 auto;
        max-width: 1300px;
        height: 100%;
    
        svg#tger-menu-star-left {
            position: absolute;
            left: 0%;
            top: 15%;
            width: 125px;
            height: 125px;
            z-index: 2;
            @media (max-width: 767px) {
                display: none;
            }
        }
        svg#tger-menu-burst-right {
            position: absolute;
            right: 1%;
            bottom: 15%;
            width: 125px;
            height: 125px;
            z-index: 2;
            @media (max-width: 767px) {
                display: none;
            }
        }
    
        &__bg {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            opacity: 0.2;
            background-size: 100%;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    
        &__menu-header {
            display: flex;
            width: 92%;
            margin: 0 auto;
            padding-top: 5px;
            justify-content: space-between;
            align-items: center;
    
            .tger-menu-logo {
                display: flex;
                position: relative;
                @media (min-width: 992px) {
                    margin-top: -2px;
                    margin-left: -20px;
    
                    svg {
                        width: 133px;
                        height: 100px;
                    }
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-top: -2px;
                    margin-left: -18px;
    
                    svg {
                        width: 133px;
                        height: 100px;
                    }
                }
                @media (min-width: 576px) and (max-width: 767px) {
                    margin-left: -14px;
                    margin-top: -4px;
    
                    svg {
                        width: 133px;
                        height: 100px;
                    }
                }
                @media (max-width: 575px) {
                    margin-top: -2px;
                    margin-left: -10px;
    
                    svg {
                        width: 106px;
                        height: 80px;
                    }
                }
            }
    
            .hamburger-close-link {
                position: relative;
                top: -2px;
                right: -5px;
                @media (min-width: 576px) and (max-width: 767px) {
                    right: -10px;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    right: -15px;
                }
                @media (min-width: 992px) {
                    right: -17px;
                }
    
                svg.menu-close-hamburger {
                    fill: $black;
                }
            }
        }
    
        &__menu-menu {
            position: relative;
            width: 70%;
            margin: 0 auto;
            height: 80%;
            overflow-y: scroll;
            @media (max-width: 767px) {
                width: 95%;
            }
        }
    
        &__navigation {
            list-style: none;
    
            li.nav-item {
                font-size: 18px;
                font-weight: 400;
                padding: 10px 0;
    
                &.active {
                    color: $purple;
                    font-weight: 900;
                }
    
                .nav-link {
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    padding: 0.5rem 1rem;
                    @media (max-width: 575px) {
                        font-size: 14px;
                    }
    
                    &:hover {
                        text-decoration: none;
                        color: $purple;
                        background-color: $light-white;
                    }
                }
    
                &.dropdown {
                    .nav-link,
                    .i-amphtml-accordion-header {
                        color: $black;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 2px;
                        background-color: transparent;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        transition: all 0.5s;
                        @media (max-width: 575px) {
                            font-size: 14px;
                        }
    
                        &:hover {
                            text-decoration: none;
                            color: $purple;
                            background-color: $light-white;
                            transition: all 0.5s;
    
                            span.header-heading-arrow {
                                color: $purple;
                                background-color: $light-white;
                                transition: all 0.5s;
                            }
                        }
    
                        &.active,
                        &.focus {
                            outline: $purple;
                            border: $purple;
                        }
    
                        span.header-heading-arrow {
                            color: $black;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 2px;
                            background-color: transparent;
                            border-color: transparent;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            @media (max-width: 575px) {
                                font-size: 14px;
                            }
    
                            i.fa.fa-angle-down {
                                font-size: 20px;
                                transition: all 0.5s;
                            }
                        }
    
                        .dropdown-arrow {
                            img {
                                top: 3px;
                                opacity: 1;
                            }
                        }
                    }
    
                    .dropdown-menu {
                        border: none;
                        border-radius: 0;
                        margin-left: 0;
                        position: relative;
                        z-index: 0;
                        padding-left: 30px;
    
                        a.dropdown-item {
                            color: $black;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 2px;
                            padding: 10px;
                            @media (max-width: 575px) {
                                font-size: 14px;
                            }
    
                            &:hover {
                                text-decoration: none;
                                color: $purple;
                            }
                        }
                    }
                }
            }
        }
    
        &__menu-buttons {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            max-width: 70%;
            margin: 0 auto;
            background-color: $white;
            @media (max-width: 767px) {
                max-width: 95%;
                padding: 10px 0;
            }
            @media (max-width: 575px) {
                padding: 10px 0 0;
            }
    
            small {
                display: block;
                text-align: center;
                margin-bottom: 10px;
                @media (min-width: 576px) {
                    display: none;
                }
            }
    
            .tger-button-container {
                width: 100%;
                display: flex;
                justify-content: space-around;
                @media (max-width: 575px) {
                    flex-direction: column;
                }
    
                a,
                button {
                    width: 49%;
                    text-align: center;
                    @media (max-width: 575px) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    
        &__menu-locations {
            width: 95%;
            margin: 25px auto 0;
        }
    
        &__locations {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin-top: 50px;
    
            h2 {
                font-size: 30px;
                letter-spacing: 2px;
                margin-bottom: 25px;
                text-align: center;
                @media (max-width: 575px) {
                    font-size: 14px;
                }
            }
    
            p {
                margin-bottom: 0;
    
                select {
                    width: 200px;
                    height: 40px;
                    background-color: $white;
                    padding: 10px;
                }
            }
        }
    }
}