.tger-reservations {
    margin: -100px 0;
    padding: 160px 0 160px;
    position: relative;
    @media(max-width: 575px) {
        padding: 160px 0 60px;
    }

    &__inner {
        h2 {
            font-size: 36px;
            padding: 0 0 0 60px;
            margin-bottom: 30px;
            color: $light-dark;
            border-left: 5px solid $yellow;
            @media (max-width: 575px) {
                padding: 0;
                border-left: none;
            }
        }

        h4 {
            margin-bottom: 20px;
        }

        p {
            a {
                color: $purple;

                &:hover {
                    color: lighten($purple, 10%);
                }
            }
        }

        fieldset {
            margin-top: 60px;

            .form-group {
                margin-bottom: 15px;

                label {
                    margin-bottom: 5px;

                    &.form-check-label {
                        display: flex;
                        align-items: center;
                        @media(max-width: 767px) {
                            align-items: flex-start;
                        }
                        
                        input.form-check-input {
                            position: relative;
                            top: -2px;
                            margin-right: 5px;
                            @media(max-width: 767px) {
                                top: 2px;
                            }
                        }
                    }
                }

                input[type='date'],
                input[type='time'] {
                    font-family: $font1;
                }

                .form-control {
                    border-radius: 0;
                    position: relative;
                    z-index: 1;
                }
            }

            .tger-button-container {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
