.tger-trust-logos {
    background-color: $gray;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -160px;

    &__inner-bg {
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__top-bg {
        border-top: 100px solid $white;
        border-left: 0 solid transparent;
        border-right: 1300px solid transparent;
        position: relative;
        z-index: 2;
    }

    &__inner {
        padding: 0 0 60px;
        @media (max-width: 767px) {
            padding: 60px 0;
        }

        h2 {
            text-align: center;
            margin-bottom: 10px;
        }

        span {
            background-color: $primary;
            height: 5px;
            width: 75px;
            display: block;
            margin: 0 auto 10px;
        }

        .trust-logos-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 25px 0;
            position: relative;
            z-index: 2;
            @media (max-width: 767px) {
                padding: 25px;
            }

            amp-img {
                width: 150px;

                img {
                    display: inline-block;
                    margin: 0 auto;
                }
            }
        }
    }

    .trust-logos-bg-small,
    .trust-logos-bg-medium,
    .trust-logos-bg-large,
    .trust-logos-bg-xl {
        position: absolute;
        border: 1px solid rgba($purple, 0.2);
        border-radius: 50%;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .trust-logos-bg-small {
        height: 250px;
        width: 250px;
    }
    .trust-logos-bg-medium {
        height: 500px;
        width: 500px;
    }
    .trust-logos-bg-large {
        height: 1000px;
        width: 1000px;
    }
    .trust-logos-bg-xl {
        height: 1400px;
        width: 1400px;
    }
}
